<body>

<h1 class="d-flex justify-content-center">Créer un Gossip</h1><br>

<%= form_tag url_for(action: 'create'), method: "post" do %>

<%= label_tag 'Titre' %>
<%= text_field_tag 'title', @gossip.title %>
<br /> <br />

<%= label_tag 'Contenu' %>
<%= text_area_tag 'content', @gossip.content %>
<br /> <br />

<%= submit_tag "Créer un gossip 🙃" %>

<% if @gossip.errors.any? %>
<p>Nous n'avons pas réussi à créer le potin pour la (ou les) raison(s) suivante(s) :</p>
<ul>
  <% @gossip.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
</ul>
<% end %>
<% end %>

</form>
</body>
</html>


<!-- >
